*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ececec;

}
.mainComment {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.commFlexblox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.inputBox {
    height: 75px;
    width: 465px;
    background-color: #ffff;

}
.commentSection{
    background-color: #ffff;
    
}